<div class="container">
  <form>
    <h1>Add Or Update</h1>

    <fieldset>
      <legend> Add New Post</legend>
      <legend> Update the Post</legend>
      <label for="name">id:</label>
      <input type="text" id="name" name="user_name" />

      <label for="mail">user id:</label>
      <input type="email" id="mail" name="user_email" />

      <label for="password">Title:</label>
      <input type="password" id="password" name="user_password" />

      <label for="password">Body:</label>
      <input type="password" id="password" name="user_password" />

      `
    </fieldset>



    <button type="submit">Save</button>
  </form>
</div>
