<div class="container">
  <form [formGroup]="this.form" (ngSubmit)="submit()">
    <h1>{{ adding ? "Add New Post" : "Update the Post" }}</h1>


      <div class="form-group" [hidden]="true" value ="55">
        <label for="id">id:</label>
        <input type="text" id="id" name="id" formControlName="id" [value]="postId"  [disabled]="!adding" />
      </div>
      <label for="userId">user id:</label>
      <input type="number" id="userId" name="userId" formControlName="userId">

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" formControlName="title" />

      <label for="body">Body:</label>
      <textarea type="text" id="body" name="body" formControlName="body"></textarea>


    <button type="submit" [disabled]="!form.valid">{{ adding ? "Create" : "Update" }}</button>
    {{form.valid }}
  </form>
</div>
