.main-btn{
  height: 100vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;

}

.main-btn>button{
  background-color: rgba(68, 68, 145, 0);
  border-radius: 15px;
  padding: 25px;
  font-size: 5vw;
  min-height: 10vw;
  min-width: 30vw;
  box-shadow: 2px 2px 4px #666;
}

.main-btn>button:hover{
  background-color: bisque;
  cursor: pointer;
}
